<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> A Simple Note Taking Web App </title>
        <link rel='stylesheet' href='{{ url_for("static", filename="css/bootstrap.min.css") }}'>
        <link rel='stylesheet' href='{{ url_for("static", filename="css/base.css") }}'>
    </head>
    <body>
         <!-- data-spy="scroll" data-target=".navbar" data-offset="10" -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        &lt Take Notes &gt
                    </a>
                </div><!-- ./navbar-header -->
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" id="navbar-links">
                        {% if username %}
                            <li>
                                <a href="/notes/add/">NEW NOTE</a>
                            </li>
                            <li>
                                <a href="/profile/">VIEW ALL NOTES</a>
                            </li>
                            <li>
                                <a href="/tags/add/">NEW TAG</a>
                            </li>
                            <li>
                                <a href="/tags/">VIEW ALL TAGS</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="/"> HOME </a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if username %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Welcome, {{ username }} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/profile/settings/" class="dropdown-item">
                                            <span class="glyphicon glyphicon-cog"></span> Profile Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/profile/settings/change_password/" class="dropdown-item">
                                            <span class="glyphicon glyphicon-wrench"></span>
                                            Update Password
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/logout/" class="dropdown-item">
                                            <span class="glyphicon glyphicon-log-out"></span> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="/signup/"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                            <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!-- ./container-->
        </nav>
        <div class="add-margin-top"></div>
        {% block content %}

        {% endblock %}
        <div class="add-margin-bottom"></div>
    </body>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typed.min.js') }}"></script>
    {{ pagedown.include_pagedown() }}
    <script type="text/javascript">
        var typed3 = new Typed('.element', {
           strings: ['A Simple Note Taking App', 'A Simple Web App', 'A Simple Note Taking  Web App'],
           typeSpeed: 100,
           backSpeed: 100,
           smartBackspace: true, // this is a default
           loop: true,
         });
    </script>
</html>
